FRONTEND_ORIGIN=http://localhost:3000
GATEWAY_PORT=4000
AUTH_SERVICE_URL=http://localhost:4001
WORKERS_SERVICE_URL=http://localhost:4002
INCIDENTS_SERVICE_URL=http://localhost:4003
INSPECTIONS_SERVICE_URL=http://localhost:4004
JWT_SECRET=change-this-secret
